.nav{
    background-color: #1d7ab5;
    color: white;
}

.logo {
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: .3s;
    color: #1d7ab5;
}

.logo:hover{
    color: #1d4ab5;
}

.logo p{
    font-family: "Quantico", sans-serif;
    font-size: 20px;
    font-weight: bolder;
}
.logo svg{
    width: 40px;
    height: 40px;
}
